/* developed by jk with 💚  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body 
{
box-sizing: border-box;
background-color: #FFFDFE;
font-family: 'Inter', sans-serif;
height: 100vh;
width: 100%;
overflow: hidden;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#nav{
    width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
    /* border: 2px solid darkblue;
    background-color: yellow; */
    height: 90px;
  
}
 .selector{
    /* background-color: hotpink; */
    width:inherit;
    position: absolute;
    height: auto;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   

}
input, select, button {
    height: 42px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #D1D5DB;
    background-color: transparent;
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
    
}

button, select{
    padding: 5px;
}
.input-type{
    flex-grow: 2;
  
}
.input-button{
    padding: 0px 3px;
}
#color-type{
    width: 100%;
    background-color:;
}


/* STYLE FOR PALLET */

.container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;

/* border: 2px dotted gray; */

}

.container div{
    margin: 0;
    height: 100vh;
    width: 100%;
 border: 2px solid red;
 border: none;
 /* background-color: yellow; */
 display: flex;
 align-items: center;
 justify-content: center;

}

.container:last-child,
.container:first-child
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#random2{
    position: absolute;
    top:2.5%;
    right:5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 7px 15px;
    border: 1px solid #D1D5DB;
    background-color: aliceblue;
    border-radius: 90PX;
    cursor: pointer;
    z-index: 99;
    /* border: 1px solid gray; */
}

@media (max-width:450px) {

 
    nav .selector{
       gap: 0;
        flex-wrap: wrap;
        width: 100%;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        padding: 0;
        margin: 0;
        }

    #nav{
        height: 0;
    }

    
    .input-button-container{
        padding: 0;
        width: 100%;
    }
    #btn{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 88vh;
    }
    .container div{
        height: 40vh;
    }
    .input-color{
        flex-grow: 1.5;
        padding: 0;
    }
    #color{
        width: 100%;
    }

    #color, #color-type, #btn{
        height: 50px;
        background-color: #f7f9f9ff;
    }

    #random2{
        position: absolute;
        top: 80%;
        /* bottom:15%;
        right:5%; */
        z-index: 99;
    }
    
}


#hint{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: lightgray;
}
